.Header {
  text-align: center;
  text-shadow: -2px -2px #a7384b;

  color: red;
  font-size: 30px;
}
h1 {
  padding-top: 10px;
  margin-block-start: 0;
  font-size: 40px;
}
h2 {
  padding-top: 10px;
  margin-block-start: 0;
  font-size: 25px;
}
body {
  margin: 0;
}
button:focus {
  outline: none;
}
.App {
  background-color: rgb(55, 57, 57);
  width: 100%;
  padding: 10px 20px 50px 20px;
  margin: 0;
}
.spacer {
  height: 2%;
}
.boardRow {
  display: flex;
}


/* Square color styling (Color#1)
.board:nth-child(even) .boardRow:nth-child(even) button:nth-child(even) {
  background-color: lightblue;
}
.board:nth-child(odd) .boardRow:nth-child(odd) button:nth-child(odd) {
  background-color: lightblue;
}
.board:nth-child(odd) .boardRow:nth-child(even) button:nth-child(even) {
  background-color: lightblue;
}
.board:nth-child(even) .boardRow:nth-child(odd) button:nth-child(odd) {
    background-color: lightblue;
}

/* Square color styling (Color#2)
.board:nth-child(odd) .boardRow:nth-child(even) button:nth-child(odd) {
  background-color: white;
}
.board:nth-child(even) .boardRow:nth-child(odd) button:nth-child(even) {
  background-color: white;
}
.board:nth-child(even) .boardRow:nth-child(even) button:nth-child(odd) {
    background-color: white;
}
.board:nth-child(odd) .boardRow:nth-child(odd) button:nth-child(even) {
    background-color: white;
}
*/
