.Header {
  text-align: center;
  text-shadow: -3px -1px darkgrey;
  text-decoration: underline black;
}
h1 {
  padding-top: 10px;
  margin-block-start: 0;
  font-size: 24px;
}
body {
  margin: 0;
}
.App {
  background-color: rgb(79, 84, 203);
  width: 100%;
  height: 100vh;
  padding: 10px 20px 50px 20px;
  margin: 0;
}
.spacer {
  height: 5%;
}
.board {
  border: 2px black solid;
}
.
/*
Square color styling (Color#1)
*/
.board:nth-child(even) .row:nth-child(even) button:nth-child(even) {
  background-color: lightblue;
}
.board:nth-child(odd) .row:nth-child(odd) button:nth-child(odd) {
  background-color: lightblue;
}
.board:nth-child(odd) .row:nth-child(even) button:nth-child(even) {
  background-color: lightblue;
}
.board:nth-child(even) .row:nth-child(odd) button:nth-child(odd) {
    background-color: lightblue;
}
/*
Square color styling (Color#2)
*/
.board:nth-child(odd) .row:nth-child(even) button:nth-child(odd) {
  background-color: white;
}
.board:nth-child(even) .row:nth-child(odd) button:nth-child(even) {
  background-color: white;
}
.board:nth-child(even) .row:nth-child(even) button:nth-child(odd) {
    background-color: white;
}
.board:nth-child(odd) .row:nth-child(odd) button:nth-child(even) {
    background-color: white;
}
